.timetables-page {

  
  ion-content {
    --ion-text-color: #333; 
    --ion-background-color: var(--ion-color-secondary); 
    --ion-color: #333;
  
    .welcome-message {
      text-align: center;
      color: #333; 
      padding: 20px 0;
    }
  
    ion-datetime {
      margin: 20px auto;
      max-width: 300px;
    }
  }
}
