////<head><script src="https://www.gstatic.com/firebasejs/ui/6.1.0/firebase-ui-auth.js"></script><link type="text/css" rel="stylesheet" href="https://www.gstatic.com/firebasejs/ui/6.1.0/firebase-ui-auth.css" /></head>

<ion-content>
  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title color="secondary">Grange Mobile App</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Email</ion-label>
          <ion-input type="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="floating">Password</ion-label>
          <ion-input type="password"></ion-input>
        </ion-item>
        <ion-button color="dark" fill="clear" size="full">Forgot email/password</ion-button>
        <ion-button color="secondary" size="full" (click)="login()">Login</ion-button>
        <ion-button color="secondary" fill="clear" size="full" (click)="register()">Register</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>


